{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="w-full flex justify-center bg-gray-1 mb-[30px]">
        <div class="container py-[20px]">
            <nav class="text-sm font-semibold" aria-label="Breadcrumb">
                <ol class="list-none p-0 inline-flex">
                    <li class="flex items-center">
                        <a href="{% url 'index' %}" class="text-gray-500">Главная</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="text-blue1 ml-[3px] mr-[2px]" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="text-gray-700">О нас</span>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="w-full flex justify-center mb-[30px]">
        <div class="container">
            <p class="mb-3">
                ООО "Стройинвест" было основано в 2005 году с целью создания современного коммерческого предприятия,
                способного гибко реагировать на потребности рынка и эффективно оперировать как в мелкооптовом, так и
                в крупнооптовом сегментах рынка нефтепродуктов. Учитывая многолетний опыт учредителей в различных сегментах,
                объединение разнообразных бизнес-моделей стало ключевым фактором успешного решения этой задачи.
            </p>
            <p class="mb-3">
                С момента создания компания стремится соблюдать следующие основные принципы:
            </p>
            <ol class="mb-3">
                <li>1. Поставка нефтепродуктов высочайшего качества</li>
                <li>2. Строгое соблюдение обязательств и установление долгосрочных партнерских отношений</li>
                <li>3. Быстрая и эффективная реакция на вызовы рынка, опережая конкурентов</li>
            </ol>
            <p class="mb-3">
                В крупнооптовом сегменте "Стройинвест" осуществляет поставки нефтепродуктов ж/д транспортом в Хабаровский,
                Приморский край, Еврейскую автономную область, Сахалинскую и Амурскую области, а также Республику Саха.
                Наша компания является аккредитованной на "Санкт-Петербургской Товарно-сырьевой Бирже" (spimex.com) с 2010 года.
                Мы устанавливаем прямые контракты с ведущими нефтяными компаниями России, такими как ОАО "РН-Востокнефтепродукт" и
                АО "ННК-Хабаровскнефтепродукт", обеспечивая надежное наличие топлива высокого качества.
            </p>
            <p class="mb-3">
                За годы работы нашими клиентами стали:
            </p>
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 mb-3">
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="https://yt3.googleusercontent.com/ytc/APkrFKZFw0G0ohM5mNGGkeQ1l6q6XhHhfBe0XFH52c9W=s900-c-k-c0x00ffffff-no-rj" alt="Fogstream">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="http://khabexpo.ru/upload/iblock/419/419697018a90b0b18e5eb730d1225e73.jpg" alt="Rasa - контора">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="https://yt3.googleusercontent.com/ytc/APkrFKZFw0G0ohM5mNGGkeQ1l6q6XhHhfBe0XFH52c9W=s900-c-k-c0x00ffffff-no-rj" alt="Fogstream">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="http://khabexpo.ru/upload/iblock/419/419697018a90b0b18e5eb730d1225e73.jpg" alt="Rasa - контора">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="https://yt3.googleusercontent.com/ytc/APkrFKZFw0G0ohM5mNGGkeQ1l6q6XhHhfBe0XFH52c9W=s900-c-k-c0x00ffffff-no-rj" alt="Fogstream">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="http://khabexpo.ru/upload/iblock/419/419697018a90b0b18e5eb730d1225e73.jpg" alt="Rasa - контора">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="https://yt3.googleusercontent.com/ytc/APkrFKZFw0G0ohM5mNGGkeQ1l6q6XhHhfBe0XFH52c9W=s900-c-k-c0x00ffffff-no-rj" alt="Fogstream">
                </div>
                <div class="w-full flex items-center justify-center">
                    <img class="w-full h-auto grayscale hover:grayscale-0 transition"
                         src="http://khabexpo.ru/upload/iblock/419/419697018a90b0b18e5eb730d1225e73.jpg" alt="Rasa - контора">
                </div>
            </div>
            <p class="mb-3">
                В мелкооптовом сегменте наша компания, "Стройинвест", специализируется на поставках товаров и услуг в следующих направлениях:
            </p>
            <ol class="mb-3">
                <li>1. дизельное топливо для различных типов двигателей</li>
                <li>2. керосин для отопления и печей</li>
                <li>3. бензин для различных типов двигателей</li>
                <li>4. битум для дорожного строительства</li>
                <li>5. услуги доставки топлива и заправки техники</li>
            </ol>
            <p class="mb-3">
                Для обеспечения непрерывных поставок наша компания располагает собственным парком бензовозов и топливозаправщиков
                различной вместимости, а также штатом опытных водителей-экспедиторов. Мы активно применяем современные информационные
                и управленческие технологии, постоянно развиваем новые направления, укрепляем существующие и устанавливаем новые коммерческие связи.
            </p>
            <p class="mb-3">
                Сегодня, оценивая путь, пройденный компанией, мы с уверенностью заявляем, что цели, поставленные
                при ее создании, успешно достигаются, и принципы работы компании остаются неизменными.
            </p>
        </div>
    </section>
</main>
{% endblock %}