{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="w-full flex justify-center bg-gray-1 mb-[30px]">
        <div class="container py-[20px]">
            <nav class="text-sm font-semibold" aria-label="Breadcrumb">
                <ol class="list-none p-0 inline-flex">
                    <li class="flex items-center">
                        <a href="{% url 'index' %}" class="text-gray-500">Главная</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="text-blue1 ml-[3px] mr-[2px]" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="text-gray-700">О нас</span>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="w-full flex justify-center mb-[30px]">
        <div class="container">
            <p class="mb-3">
                ООО "Стройинвест" было основано в 2010 году. За время существования наша компания приобрела значительный
                опыт на рынке оптовой и мелкооптовой поставки нефтепродуктов.
            </p>
            <p class="mb-3">
                Имеется собственный Автопарк специализированной техники. Штат работников располагает необходимыми
                знаниями и допусками для работ с опасными грузами. ООО «Стройинвест» является известным на рынке
                поставщиком нефтепродуктов в г. Хабаровске, Хабаровском крае и в других регионах Дальнего Востока.

            </p>

            <p class="mb-3">
                В крупнооптовом сегменте "Стройинвест" осуществляет поставки нефтепродуктов ж/д транспортом в Хабаровский,
                Приморский край, Еврейскую автономную область, Сахалинскую и Амурскую области, а также Республику Саха.
                Наша компания является аккредитованной на "Санкт-Петербургской Товарно-сырьевой Бирже" (spimex.com) с 2010 года.
                Мы устанавливаем прямые контракты с ведущими нефтяными компаниями России, такими как ОАО "РН-Востокнефтепродукт" и
                АО "ННК-Хабаровскнефтепродукт", обеспечивая надежное наличие топлива высокого качества.
            </p>
            <p class="mb-3">
                За годы работы постоянными клиентами стали десятки дорожно-строительных компаний, золотодобывающие артели,
                сельскохозяйственные организации и предприятия топливно-энергетического комплекса и ЖКХ края.
            </p>
            <p class="mb-3">
                Компания является аккредитованным поставщиком таких предприятий как:
            </p>
            <ol class="mb-3">
                <li>1. ООО «Межрайтопливо» (ежегодно участвуем
                в выполнении государственных контрактов по обеспечению нефтепродуктами краевых населенных пунктов)</li>
                <li>2. АО «Порт Ванино»</li>
                <li>3. МУП «Спецавтохозяйство (г. Комсомольск-на-Амуре)</li>
                <li>4. АО «Примавтодор» (крупнейшее автодорожное предприятие Приморского края)</li>
                <li>5. ООО «Современные горные технологии» (обособленные подразделения Хабаровского края и ЕАО)</li>
                <li>6. АО «Корфовский каменный карьер»</li>
            </ol>
        </div>
    </section>
</main>
{% endblock %}