{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="w-full flex justify-center bg-gray-1 mb-[30px]">
        <div class="container py-[20px]">
            <nav class="text-sm font-semibold" aria-label="Breadcrumb">
                <ol class="list-none p-0 inline-flex">
                    <li class="flex items-center">
                        <a href="/" class="text-gray-500">Главная</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="text-blue1 ml-[3px] mr-[2px]" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <a href="/services" class="text-gray-500">Услуги</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="text-blue1 ml-[3px] mr-[2px]" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="text-gray-700">Название услуги</span>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="w-full flex justify-center">
        <div class="container">
            <h3 class="text-3xl font-semibold mb-8">Название Услуги</h3>
            <p class="text-gray-500 mb-4 text-justify">
                <img src="https://cdnstatic.rg.ru/uploads/attachments/article/183/77/00/iStock-1154785984.jpg"
                     alt="Название Услуги" class="w-[200px] h-[200px] object-cover mb-4 ml-7 rounded-md float-right">
                Снабжение топливом - одно из наиболее важных направлений в логистике предприятий самого разного
                профиля. Бесперебойная доставка топлива нужна строительным, транспортным компаниям, производственным
                и лесозаготовительным компаниям, авиаперевозчикам и рыболовецким артелям.<br><br>
                Каждый из тех кому нужно доставить топливо на объект, неважно как далеко он находится - в одном или
                тысяче километров от Хабаровска, сколько топлива ему нужно - пять или пятьсот тонн, предъявляет к услуге
                по доставке одинаковые требования. Перевезти керосин, дизельное топливо или бензин нужно точно в срок,
                с сохранением качества и количества.<br><br>
                Более пятнадцати лет мы занимаемся не только поставками топлива и но и оказываем услуги по его доставке.
                Перевезти бензин по Хабаровску в объеме 2500 литров или доставить керосин в количестве нескольких сотен
                тонн для заправки воздушных судов в Николаевск-на-Амуре - любую задачу мы выполняем со всей
                ответственностью.<br><br>
                Большой штат опытных водителей-экспедиторов, регулярно проходящих профессиональное обучение,
                квалифицированные механики и управляющий персонал являются гарантами выполнения каждой заявки
                на перевозку нефтепродуктов.<br><br>
                В нашем распоряжении бензовозы-топливозаправщики объемом 5-12 м. куб. с объемом секций от 2,5
                до 4,5 м. куб. и автоцистерны объемом от 12 до 40 м. куб. с объемом секций от 4 до 16 м.куб.
                Минимальная партия перевозки - 2500 литров (2,5 кубических метров).
            </p>
        </div>
    </section>


    <section class="w-full flex justify-center mb-[30px]">
        <div class="container">
            <div class="rounded-[5px] bg-blue1-10 h-[80px] w-full flex items-center justify-between px-[20px] gap-[20px]">
                <button id="openModal" class="bg-blue1 text-white px-4 py-2 rounded-[5px] focus:outline-none">
                    Заказать&nbsp;услугу
                </button>
                <p class="text-[14px] text-white">
                    Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы.
                </p>
            </div>
            <div id="myModal" class="hidden fixed inset-0 overflow-y-auto z-50">
                <div class="flex items-center justify-center min-h-screen">
                    <div id="modalOverlay" class="absolute inset-0 bg-black opacity-25"></div>
                    <div class="bg-white p-8 rounded-[5px] shadow-md relative w-[450px]">
                        <span class="absolute top-0 right-[10px] cursor-pointer text-2xl" id="js-close-modal-button">&times;</span>

                        <h2 class="text-2xl font-semibold mb-6">Заказать услугу</h2>

                        <form action="#" method="post">
                            <div class="mb-4">
                                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Имя</label>
                                <input type="text" id="name" name="name" placeholder="Ваше имя" required
                                       class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500">
                            </div>
                            <div class="mb-4">
                                <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Телефон</label>
                                <input type="tel" id="phone" name="phone" placeholder="Ваш телефон" required
                                       class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500">
                            </div>
                            <div class="mb-4">
                                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">E-mail</label>
                                <input type="email" id="email" name="email" placeholder="example@example.com"
                                       class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500">
                            </div>
                            <div class="mb-4">
                                <label for="service" class="block text-gray-700 text-sm font-bold mb-2">Услуга</label>
                                <input type="text" id="service" name="service" value="Название услуги" disabled
                                       class="w-full px-3 py-2 text-gray-500 border rounded focus:outline-none focus:border-blue-500">
                            </div>
                            <div class="mb-6">
                                <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Сообщение</label>
                                <textarea id="message" name="message" rows="4" placeholder="Ваше сообщение" required
                                          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="w-full bg-blue1 text-white p-3 rounded focus:outline-none">
                                    Отправить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script src="{% static 'scripts/indexModal.js' %}"></script>
        </div>
    </section>

    <section class="w-full flex justify-center mb-[30px]">
        <div class="container">
            <h3 class="text-2xl font-semibold mb-6">Товары</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                <a href="/products/1" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="https://cdn0.youla.io/files/images/720_720_out/62/0d/620d2b777710302e702e2bd3-1.jpg" alt="Another Product" class="w-full h-32 object-cover mb-4">
                    <h2 class="text-lg font-semibold mb-2">Другой товар</h2>
                    <span class="inline-block px-2 py-1 mb-2 bg-green-500 text-sm text-white rounded-[5px]">В наличии</span>
                    <p class="text-lg font-bold mb-2">Цена за литр: 15 руб.</p>
                </a>
                <a href="/products/1" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="https://cdn0.youla.io/files/images/720_720_out/62/0d/620d2b777710302e702e2bd3-1.jpg" alt="Another Product" class="w-full h-32 object-cover mb-4">
                    <h2 class="text-lg font-semibold mb-2">Другой товар</h2>
                    <span class="inline-block px-2 py-1 mb-2 bg-blue-500 text-sm text-white rounded-[5px]">Под заказ</span>
                    <p class="text-lg font-bold mb-2">Цена за литр: 15 руб.</p>
                    <p class="text-sm text-gray-500 line-through mb-2">Цена без скидки: 12 руб.</p>
                </a>
                <a href="/products/1" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="https://cdn0.youla.io/files/images/720_720_out/62/0d/620d2b777710302e702e2bd3-1.jpg" alt="Another Product" class="w-full h-32 object-cover mb-4">
                    <h2 class="text-lg font-semibold mb-2">Другой товар</h2>
                    <span class="h-[36px]">&nbsp;</span>
                    <p class="text-lg font-bold mb-2">Цена за литр: 15 руб.</p>
                    <p class="text-sm text-gray-500 line-through mb-2">Цена без скидки: 12 руб.</p>
                </a>
                <a href="/products/1" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="https://cdn0.youla.io/files/images/720_720_out/62/0d/620d2b777710302e702e2bd3-1.jpg" alt="Another Product" class="w-full h-32 object-cover mb-4">
                    <h2 class="text-lg font-semibold mb-2">Другой товар</h2>
                    <span class="inline-block px-2 py-1 mb-2 bg-green-500 text-sm text-white rounded-[5px]">В наличии</span>
                    <p class="text-lg font-bold mb-2">Цена за литр: 15 руб.</p>
                </a>
                <a href="/products/1" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="https://cdn0.youla.io/files/images/720_720_out/62/0d/620d2b777710302e702e2bd3-1.jpg" alt="Another Product" class="w-full h-32 object-cover mb-4">
                    <h2 class="text-lg font-semibold mb-2">Другой товар</h2>
                    <span class="inline-block px-2 py-1 mb-2 bg-blue-500 text-sm text-white rounded-[5px]">Под заказ</span>
                    <p class="text-lg font-bold mb-2">Цена за литр: 15 руб.</p>
                    <p class="text-sm text-gray-500 line-through mb-2">Цена без скидки: 12 руб.</p>
                </a>
                <a href="/products/1" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
                    <img src="https://cdn0.youla.io/files/images/720_720_out/62/0d/620d2b777710302e702e2bd3-1.jpg" alt="Another Product" class="w-full h-32 object-cover mb-4">
                    <h2 class="text-lg font-semibold mb-2">Другой товар</h2>
                    <span class="h-[36px]">&nbsp;</span>
                    <p class="text-lg font-bold mb-2">Цена за литр: 15 руб.</p>
                    <p class="text-sm text-gray-500 line-through mb-2">Цена без скидки: 12 руб.</p>
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
