# виртуальное окружение
venv/
env/

media/
node_modules/

# локальные настройки
local_settings.py

# файлы журналов и временные файлы
*.log
*.pot
*.pyc
__pycache__/
*.swp

# IDE
.idea/

# Файлы окружения
.env