# виртуальное окружение
venv/
env/

# медиа файлы
/media/
/media_volume/

# локальные настройки
local_settings.py

# файлы журналов и временные файлы
*.log
*.pot
*.pyc
__pycache__/
*.swp

# IDE
.idea/

# Файлы окружения
.env

